# Env
.env
.env.local
infra/.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
backend/staticfiles/
backend/db.sqlite3

# Node / Next.js
node_modules/
.next/
out/
frontend/.next/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors / OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Docker
*.pid

# Extras
settings.local.json